- if @browser.device.mobile?
  .row
    .col-xs-12
      %h2.text-center= "Udlånte bøger"
  .row.row-space
    .col-xs-12
      .form-group.search-field
        %label{:for => "usr"} Søg:
        %input#usr.form-control{:type => "text"}/

  - @books.each do |book|
    .book
      .panel.panel-default.mobile_panel
        .panel-body
          .row
            .col-xs-12
              %h3= book.title
          .row.row-space
            .col-xs-12
              = "Udlånt til " + book.loaner
          .row
            .col-xs-12
              = book.description
      = link_to loan_path(book),  method: :delete do
        .btn.btn-default.return_button
          = "Aflevér bogen"
- else
  .row
    .col-xs-1
    .col-xs-11
      %h1= "Udlånte bøger"
  %br
  .row
    .col-xs-1
    .col-xs-2
      = "Titel, forfatter"
    .col-xs-2
      = "Beskrivelse"
    .col-xs-2
      = "Bogens ejer"
    .col-xs-2
      = "Udlånt til"
    .col-xs-1
      = "Udlånt den"
    .col-xs-1
    .col-xs-1
  %hr
  - @books.each do |book|
    .row
      .col-xs-1
      .col-xs-2
        %h2= book.title
      .col-xs-2
        = book.description
      .col-xs-2
        = book.owner
      .col-xs-2
        = book.loaner
      .col-xs-1
        = book.loaned_out_at.to_s
      .col-xs-1
        = link_to loan_path(book),  method: :delete do
          .btn.btn-default
            = "Aflevér bogen"
      .col-xs-1

    %hr

:javascript
  $( document ).ready(function() {
    console.log( "ready!" );
    $("input").on('change keyup paste', function() {
      search_value = this.value
      $('.book').each(function(){
        if ($(this).find('h3').html().toUpperCase().indexOf(search_value.toUpperCase()) > -1) {
          $(this).show()
        } else {
          $(this).hide()
        }
      })
    });
  });