- if @browser.device.mobile?
  %h2= "Tilgængelige bøger"
  - @books.each do |book|
    .panel.panel-default
      .panel-body
        .row
          .col-xs-4
            = book.title + ", " + book.author + ", " + book.edition.to_s
          .col-xs-4
            = book.description
          .col-xs-4
            = link_to new_loan_path(book_id: book.id) do
              .btn.btn-default
                = "Lån bogen"
- else
  .row
    .col-xs-1
    .col-xs-11
      %h1= "Tilgængelige bøger"

  %br
  .row
    .col-xs-1
    .col-xs-3
      = "Titel, forfatter og udgivelse"
    .col-xs-3
      = "Beskrivelse"
    .col-xs-3
      = "Bogens ejer"
    .col-xs-1
  %hr
  - @books.each do |book|
    .row
      .col-xs-1
      .col-xs-3
        = book.title + ", " + book.author + ", " + book.edition.to_s
      .col-xs-3
        = book.description
      .col-xs-3
        = book.owner
      .col-xs-1
        = link_to new_loan_path(book_id: book.id) do
          .btn.btn-default
            = "Lån bogen"
    %hr