.row
  .col-xs-1
  .col-xs-11
    %h1= "Lån bogen " + @book.title

.row
  .col-xs-1
  .col-xs-11
    = simple_form_for @book, url: loan_path(@book) do |f|
      = f.input :loaner, label: "Lånerens navn", required: true
      = f.submit "Lån bogen", class: "btn btn-default confirm"
:javascript

  $(function() {
    $('.confirm').click(function() {
        return window.confirm("Er du sikker på at du vil låne #{@book.title}");
    });
  });